.bootstrap-timepicker {
	position: relative;
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu
	{
	left: auto;
	right: 0;
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before
	{
	left: auto;
	right: 12px;
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after
	{
	left: auto;
	right: 13px;
}

.bootstrap-timepicker .add-on {
	cursor: pointer;
}

.bootstrap-timepicker .add-on i {
	display: inline-block;
	height: 16px;
	width: 16px;
}

.bootstrap-timepicker-widget.dropdown-menu {
	padding: 2px 3px 2px 2px;
}

.bootstrap-timepicker-widget.dropdown-menu.open {
	display: inline-block;
}

.bootstrap-timepicker-widget.dropdown-menu:before {
	border-bottom: 7px solid rgba(0, 0, 0, 0.2);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	display: inline-block;
	left: 9px;
	position: absolute;
	top: -7px;
}

.bootstrap-timepicker-widget.dropdown-menu:after {
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	left: 10px;
	position: absolute;
	top: -6px;
}

.bootstrap-timepicker-widget.timepicker-orient-left:before {
	left: 6px;
}

.bootstrap-timepicker-widget.timepicker-orient-left:after {
	left: 7px;
}

.bootstrap-timepicker-widget.timepicker-orient-right:before {
	right: 6px;
}

.bootstrap-timepicker-widget.timepicker-orient-right:after {
	right: 7px;
}

.bootstrap-timepicker-widget.timepicker-orient-top:before {
	top: -7px;
}

.bootstrap-timepicker-widget.timepicker-orient-top:after {
	top: -6px;
}

.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
	border-bottom: 0 none;
	border-top: 7px solid #999;
	bottom: -7px;
}

.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
	border-bottom: 0 none;
	border-top: 6px solid #fff;
	bottom: -6px;
}

.bootstrap-timepicker-widget a.btn,.bootstrap-timepicker-widget input {
	border-radius: 4px;
}

.bootstrap-timepicker-widget table {
	margin: 0;
	width: 100%;
}

.bootstrap-timepicker-widget table td {
	height: 30px;
	margin: 0;
	padding: 2px;
	text-align: center;
}

.bootstrap-timepicker-widget
 
table
 
td
:not
 
(
.separator
 
)
{
min-width
:
 
30
px
;


}
.bootstrap-timepicker-widget table td span {
	width: 100%;
}

.bootstrap-timepicker-widget table td a {
	border: 1px solid transparent;
	color: #333;
	display: inline-block;
	margin: 0;
	outline: 0 none;
	padding: 8px 0;
	width: 100%;
}

.bootstrap-timepicker-widget table td a:hover {
	background-color: #eee;
	border-color: #ddd;
	border-radius: 4px;
	text-decoration: none;
}

.bootstrap-timepicker-widget table td a i {
	font-size: 18px;
	margin-top: 2px;
}

.bootstrap-timepicker-widget table td input {
	margin: 0;
	text-align: center;
	width: 25px;
	border: 1px solid #ccc;
	padding: 2px;
}

.bootstrap-timepicker-widget .modal-content {
	padding: 4px;
}

@media ( min-width : 767px) {
	.bootstrap-timepicker-widget.modal {
		margin-left: -100px;
		width: 200px;
	}
}

@media ( max-width : 767px) {
	.bootstrap-timepicker {
		width: 100%;
	}
	.bootstrap-timepicker .dropdown-menu {
		width: 100%;
	}
}